.fetching {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 2rem;
    color: var(--orange);
    border-radius: 0.5rem;
  }
}
